* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 320px;

    background: #0d0d0d;

    font-family:
        Arial,
        Helvetica,
        sans-serif;
}

button,
input,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

.subtitle {
    margin-bottom: 25px;

    color: #c59b45;

    font-size: 11px;

    letter-spacing: 5px;
}

.description {
    margin-top: 30px;

    color: #9d968c;

    line-height: 1.8;

    font-size: 15px;
}